<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eyeskeeper">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_background"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_background_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EyesKeeper">
        <activity
            android:name="com.eyeskeeper.Dialog"
            android:exported="true"
            android:noHistory="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.NotifyDialog">
        </activity>
        <service android:name="com.eyeskeeper.KeeperService"/>
        <activity
            android:name="com.eyeskeeper.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>